<div id='availJobs'>
  <h2>List Of Available Jobs</h2>
</div>

<% Job.all.each do |eJob| %>
  <div id='jobsList'>
 	 <a href="/jobs/<%= eJob.id %>">
       <%= eJob.description %>
       :Job Id#<%= eJob.id %>
   </a>
  </div>
<% end %>




<div id='formForJobs'>
  <%= form_for Job.new do |f| %>
    Job Description:<%= f.text_field :description %><br>
    Starting From:<%= f.text_field :origin %><br>
    Destination:<%= f.text_field :destination %><br>
    Cost:<%= f.text_field :cost %><br>
    Containers:<%= f.number_field :containers %><br>
  <%= f.submit %>
 <% end %>
</div>

