<div class="main__jobs_i">
  

  

  <div class="main__jobs_i__jobs">

    <div id='availJobs' class="main__jobs_i__title">
      All Available Jobs
    </div>

    <div class="main__jobs_i__spacer">
    </div>

    <% Job.all.reverse.each do |eJob| %>
      <!-- <div id='jobsList'> -->
      <a href="/jobs/<%= eJob.id %>" class="main__jobs_i__jobs__item">
          
        <div id='jobID' class="main__jobs_i__jobs__item__info">
          Job #<%= eJob.id %>
          "<%= eJob.description %>"
        </div>
        <div id='jobDescrip' class="main__jobs_i__jobs__item__detail">
          from: <%= eJob.origin %> / 
          to: <%= eJob.destination %> / 
          cost: $<%= number_with_precision(eJob.cost, precision: 2) %>
        </div>
        <div class="main__jobs_i__jobs__item__detail">
          <% eJob.boats.all do |ea_boat| %>
            <a href="/boats/<%= ea_boat.id %>" class="main__jobs_i__jobs__item__detail__ship">
              <%= ea_boat.name %>
            </a>            
          <% end %>
          
          </div>
      </a>
      <!-- </div> -->
    <% end %>
    
  </div>

  <div class="main__jobs_i__newjob">
    <div id='jobHeading' class="main__jobs_i__newjob__title">
      Add a New Job
    </div>  

    <div class="main__jobs_i__spacer">
    </div>

      <!-- <div id='formForJobs'> -->
      <%= form_for Job.new, :html => {:class => 'main__jobs_i__newjob__form'} do |f| %>

        <div class='main__jobs_i__newjob__form_left field1'>
          Job Description:
        </div>
        <div class='main__jobs_i__newjob__form_right boxFormat'>
          <%= f.text_field :description, class: "main__jobs_i__newjob__all_txt", placeholder: "20+ chararacters" %>
        </div>
        <br>

        <div class='main__jobs_i__newjob__form_left field1'>
          Starting From:
        </div>
        <div class='main__jobs_i__newjob__form_right boxFormat'>
          <%= f.text_field :origin, class: "main__jobs_i__newjob__all_txt", placeholder: "location" %>
        </div>
        <br>

        <div class='main__jobs_i__newjob__form_left field1'>
          Destination:
        </div>
        <div class='main__jobs_i__newjob__form_right boxFormat'>
          <%= f.text_field :destination, class: "main__jobs_i__newjob__all_txt", placeholder: "location" %>
        </div>
        <br>

        <div class='main__jobs_i__newjob__form_left field1'>
          Cost:
        </div>
        <div class='main__jobs_i__newjob__form_right boxFormat'>
          <%= f.text_field :cost, class: "main__jobs_i__newjob__all_txt", placeholder: "USD" %>
        </div>
        <br>

        <div class='main__jobs_i__newjob__form_left field1'>
          Containers:
        </div>
        <div class='main__jobs_i__newjob__form_right boxFormat'>
          <%= f.text_field :containers, class: "main__jobs_i__newjob__all_txt", placeholder: "number" %>
        </div>
        <br>

        <div id='jobSubmit'>
          <%= f.submit class: "main__jobs_i__newjob__form__submit", value: "Add a new job"%>
        </div>
      

      <% end %>

      
    </div>

  </div>

</div>

