<div id='jobshow_wrapper'>
  <div class='jobshow_column'>
<% if @job != nil%>
  <div id='jobshow_title' >Job Info</div>
  <div class='jobshow_info'>Description: <%=@job.description%></div> 
  <div class='jobshow_info'>Origin: <%=@job.origin%></div> 
  <div class='jobshow_info'>Destination: <%=@job.destination%></div> 
  <div class='jobshow_info'>Cost: $<%=@job.cost%></div> 
  <div class='jobshow_info'>Containers: <%=@job.containers%></div> 

  <h2>Update Job</h2>
  <%=form_for @job do |j|%>
     <div class='jobshow_info'>Description: </div>
     <div ><%=j.text_area :description, class: 'jobshow_field' %></div>
     <div class='jobshow_info'>Origin: </div>
     <div><%=j.text_field :origin, class: 'jobshow_field'%></div>
     <div class='jobshow_info'>Destination: </div>
     <div ><%=j.text_field :destination, class: 'jobshow_field'%></div>
     <div><%=j.text_field :cost, class: 'jobshow_field' %></div>
     <div ><%=j.text_field :containers, class: 'jobshow_field'%></div>
     <div><%= j.submit'update', class: 'job_update_button'%></div>
  <%end%>

  <%= form_tag(job_path, method: "delete") do %>
      <%= submit_tag("Delete Job", class: 'job_delete_button') %>
  <% end %>

</div>

<div class='jobshow_column'>
  <h2>This job has been assigned to:</h2>
<% @job.boats.each do |b| %>
   <div><%= image_tag b.avatar.url(:large) %></div>
   <div><%= b.name %></div>
   <div><%= b.location %></div>
<% end %>

<div>----------</div>
<h2>Assign a Boat to this Job:</h2>


<%if @job.boats == Boat.all %>
  <h2>There is no current available boats</h2>
<%else%>  
  <% @boats.each do |boat| %>
    <%if @job.boats.find_by_id(boat.id)%>
    <%else%>   
      <div><%=boat.name%></div>    
      <div><%= form_for :boat, url: {action: 'assign', controller: 'boats'} do |r| %>
        <%= hidden_field_tag "id",  @job.id %>
        <%= hidden_field_tag "boat_id", boat.id %>
        <%= r.submit 'assign' %>
        <%end%></div>
    <% end %>
    <%end%> 
<%end%>   

<% else %>

    <h2>Opps, we don't have this job anymore!</h2>


<%end%>
</div>

</div>

