<div class="main__users">
  
  <% if (!!@page_user) %>

    <div class="main__users__boats">
      <!-- show boats and create boat button and jobs  -->
      <div class="main__users__title">
        Ships
      </div>

      <div class="main__users__spacer_small">
      </div>

      <% if (user_signed_in?) %>

        <% if (current_user.id == @page_user.id) %>
          <!-- if page user matches logged in user, allow adding boats -->
          <div class="main__users__boats__add">
            +
          </div>

          <%= form_for Boat.new, :html => {:class => 'main__users__boats__form'} do |f| %>
            <!-- <div class="main__users__boats__form_left"> -->
              <div class="main__users__boats__form_left">
                Ship name:
              </div>
              <div class="main__users__boats__form_right">
                  <%= f.text_field :name, class: "main__users__boats__all__txt" %>
              </div>
              <br>

              <div class="main__users__boats__form_left">
                Capacity:
              </div>

              <div class="main__users__boats__form_right">
                <%= f.number_field :capacity, class: "main__users__boats__all__txt" %>
              </div>
              <br>

              <div class="main__users__boats__form_left">
                Location:
              </div>

              <div class="main__users__boats__form_right">
                <%= f.text_field :location, class: "main__users__boats__all__txt" %>
              </div>
              <br>

              <div class="main__users__boats__form_left">
                Image:
              </div>

              <div class="main__users__boats__form_right">
                <label class="main__users__boats__all__upload">
                  upload...
                  <%= f.file_field :avatar, class: "main__users__boats__all__upload_field" %>
                </label>
              </div>

            <!-- </div> -->


            <div>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit class: "main__users__boats__submit", value: "Add a new ship" %>
            </div>
          <% end %>
        <% end %>
        
      <% end %>


      <% @page_user.boats.reverse.each do |ea_boat| %>        
        
        <a href="/boats/<%= ea_boat.id %>" class="main__users__boats__item">
          <div>
            <%= ea_boat.name%>
          </div>
          <div class="main__users__boats__item_detail">
            boat #<%= ea_boat.id%> / 
            capacity: <%= ea_boat.capacity%> / 
            location: <%= ea_boat.location%><br>
            <% if ea_boat.avatar_file_name %>
              <%= image_tag ea_boat.avatar.url(:medium) %>
            <% end %>
            
          </div>
        </a> 

        <br>
        <br>
      <% end %>
    


    
      
    </div>

    <div class="main__users__jobs">
      <div class="main__users__title">
        Jobs
      </div>

      <div class="main__users__spacer_small">
      </div>

      <% @page_user_jobs.reverse.each do |ea_job| %>
        <a href="/jobs/<%= ea_job.id %>" class="main__users__jobs__item">
          <div>        
            <div>
              <%= ea_job.description %>  
            </div>
            <div class="main__users__jobs__item_detail">
              job #<%= ea_job.id %> / 
              from: <%= ea_job.origin %> / 
              to: <%= ea_job.destination %>
              cost: $<%= ea_job.cost %>  
            </div>
          </div>
        </a>

        <br>
        <br>
      <% end %>
      <a href="/jobs" class="main__users__jobs__add">
        +
      </a>
    </div>

  <% else %>
    This account doesn't exist
  <% end %>
</div>



<script src="/assets/users_show.js"></script>