<div id='login_wrapper'>

<%= video_tag "home.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "login_video" %>

<div id='login_form'>
<div id='login_title'>Please log in here</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'email_field'  %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",class: 'pass_field' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: 'rm_text'%>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'login_botton' %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
</div>
</div>