<h1>Edit A Boat</h1>

<%= form_for @boat do |f| %>
Name<%=f.text_field :name %>
Capacity<%=f.text_field :capacity %>
Location<%=f.text_field :location %>
	<div><%=f.label :image %></div>
		<div><%=f.file_field :image, class:'form_control' %></div>
<%= f.submit %>
<% end %>

<%= form_tag(job_path, method: "delete") do %>
      <%= submit_tag("Delete Boat", class: 'boat_delete_button') %>
  <% end %>

