<h1>Edit A Boat</h1>

  <%=form_for @boat do |b|%>
     <div><%=b.text_area :name %></div>
     <div><%=b.text_field :capacity%></div>
     <div><%=b.text_field :location%></div>
     
     <div><%= b.submit'Update'%>
  <%end%>

  <%= form_tag(boat_path, method: "delete") do %>
      <%= submit_tag("Delete Boat") %>
  <% end %>
