<!DOCTYPE html>
<html>
  <head>
    <title>BadBoats.io</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if (user_signed_in?) %>
      <div class="nav">

      
        <div class="nav_left">
          <% if (user_signed_in?) %>
          <a href="/users/<%= current_user.id.to_s %>" class="nav__dashboard nav__links">
            Dashboard
          </a>
      

          <a href="/jobs" class="nav__jobs nav__links">
            All jobs
          </a>
          <% else %>
          <% end %>
        </div>
        

        <div class="nav_right">
          <% if (user_signed_in?) %>
            <a href="/sessions/edit" class="nav__edit nav__links">
              Account
            </a>

            <form action='/users/sign_out' method='DELETE' class="nav__form_logout">
              <input type="submit" value="Logout" class="nav__form_logout__btn nav__links">
            </form>
          <% else %>
          <a href="/sessions/edit" class="nav__edit nav__links">
            Account
          </a>
          <% end %>

        </div>
      </div>
    

      <div class="spacer"></div>
    <% end %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div class="main">
      <%= yield %>
    </div>

  </body>
</html>
